pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/
.shadow-cljs/
node_modules/
.clj-kondo/.cache
/resources/public/js
/resources/public/main.css
.idea
*.iml

.vscode
/resources/public/assets/js/*
public/js
public/css

/target
/checkouts
/src/gen

.lsp/.cache
.cpcache

*.log
.shadow-cljs
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
